.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;

}

.contenedorLogo{
    display: flex;
    align-items: center;
    flex-grow: .3;
    justify-content: center;
}

.logo{
    height: 60px;
}

.botones{
    display: flex;
    align-items: center;
    flex-grow: 2;
    justify-content: start;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    text-decoration: none;
    background-color: #4e4d4a;
    font-family: 'Tilt Warp', cursive;
    font-size: small;
    color: #94ba65;
    border-radius: 50px;
    height: 25px;
    width: 70px;
    box-shadow: 2px 2px 10px 0px black;
    -webkit-text-stroke: .5px black;
    text-shadow: 1px 1px 2px black;
}

.barraBuscar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0.1;
}

