.botones{
    display: inline;
    box-shadow: 2px 2px 10px 0px black;
}

select{
    background-color: #94ba65;
    font-family: 'Tilt Warp', cursive;
    border: 1;
    border-color: black;
    height: 25px;
    width: 100px;
    cursor: pointer;
}

select:focus{
    outline: 0;
}

