.card{
    /*Cartas*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    width: 270px;
    margin: 10px;
    background-color: rgba(78, 77, 74, .9);
    border-radius: 15px;
    box-shadow: 0px 0px 20px 5px black;
    border: 5px solid #94ba65;
    position: relative;
}

.card:hover{
    transform: scale(1.05) ;
    -webkit-transform: scale(1.05) ;
    -moz-transform: scale(1.05) ;
}

.fuente{
    /*Fuente*/
    flex-wrap: wrap;
    font-family: 'Tilt Warp', cursive;
    font-size: 19px;
    color: #94ba65;
    -webkit-text-stroke: .5px black;
    text-shadow: 1px 1px 2px black;
    margin: 10px;
    line-height: .9;
}

.linkNombre{
    text-decoration: none;
}

.name{
    /*Nombre del personaje*/
    font-family: 'Tilt Prism', cursive;
    margin: 30px 0px 5px 0px;
    font-size: 30px;
    color: beige;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 15px;
}

.name:hover{
    transform: scale(1.1) ;
    -webkit-transform: scale(1.1) ;
    -moz-transform: scale(1.1) ;
}

.imagen{
    /*Imagen de la carta*/
    width: 270px;
    border-radius: 10px 10px 0px 0px;
    filter: brightness(95%);
}

.boton{
    /*Boton salir*/
    background-color: #94ba65;
    font-family: 'Tilt Warp', cursive;
    color: black;
    border-radius: 50%;
    box-shadow: 1px 1px 3px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.boton:hover{
    transform: scale(.9) ;
    -webkit-transform: scale(.9) ;
    -moz-transform: scale(.9) ;
}

.fav{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.corazon{
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.corazon:hover{
    transform: scale(2) ;
    -webkit-transform: scale(2) ;
    -moz-transform: scale(2) ;
}