.container{
    box-shadow: 2px 2px 10px 0px black;
}

.inputbuscar{
    text-decoration: none;
    font-family: 'Tilt Warp', cursive;
    background-color: #94ba65;
    border-radius: 50px 0 0 50px;
    border: 0;
    height: 30px;
    width: 300px;
    padding-left: 20px;
}

.inputbuscar:focus{
    outline: 0;
}

.botonagregar{
    background-color: #4e4d4a;
    font-family: 'Tilt Warp', cursive;
    color: #94ba65;
    border-radius: 0 50px 50px 0;
    border: 0;
    height: 30px;
    -webkit-text-stroke: .5px black;
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
}
